<h1> Showing selected seminar</h1>

<p>
  Title: <%= @seminar.title %>
</p>

<p>
  Description: <%= @seminar.description %>
</p>
<%= link_to "Edit this article", edit_seminar_path(@seminar) %>
<p>
<%= link_to "Back to seminars listing", seminars_path %>
</p>
