<h1>Listing candies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kids</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendants.each do |attendant| %>
      <tr>
        <td><%= attendant.name %></td>

        <td><%= attendant.seminars.map {|s| s.title}.join(', ') %></td>
        <td><%= link_to 'Show',  attendant%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candy', new_attendant_path %>
