$navbar-default-bg: #08088A;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.center {
  text-align: center;
}

.jumbotron {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-xlarge {
  font-size: 1.7em;
  background-color: black;

}

.seminar-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.seminar-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}
.seminar-title {
  font-weight: bold;
  font-size: 1.5em;
}
.seminar-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;

}
.listing {
  list-style: none;
  padding-left: 0;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
//  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
