<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a> The seminars are for tech. Hochschule Nbg </a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", new_seminar_path %></li>
      </ul>
    </nav>
  </footer>
</div>
